@page
@model Opa21_A_Csharp_Assignment.Pages.StudentInfo.ClassEnrollModel
@{
}


<h2>Enroll in a new class</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                <label asp-for="notEnrolledCourses.FirstOrDefault().Name"></label>
            </th>
            <th scope="col">
                <label asp-for="notEnrolledCourses.FirstOrDefault().Location"></label>
            </th>
            <th scope="col">
                <label></label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.notEnrolledCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(variable => course.Name)
                </td>
                <td>
                    @Html.DisplayFor(variable => course.Location)
                </td>
                <form method="post">
                <td>
                    <button class="btn btn-success" asp-page-handler="Enroll" asp-route-id="@course.CourseId">Enroll</button>
                </td>
                </form>

            </tr>
        }
    </tbody>
</table>