@page
@model Opa21_A_Csharp_Assignment.Pages.SharedPages.ClassesInfoModel
@{
}



<h2>All Classes offered by the school</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                <label asp-for="courseList.FirstOrDefault().Name"></label>
            </th>
            <th scope="col">
                <label asp-for="courseList.FirstOrDefault().Location"></label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var course in Model.courseList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(variable => course.Name)
                </td>
                <td>
                    @Html.DisplayFor(variable => course.Location)
                </td>
            </tr>
        }
    </tbody>
</table>